%h1 Rooms

- if @rooms.each do |room| 
  - # code or partial to display the message 
- end.empty? 
  %br
  %h7 There is no room stored on database
  
  
%div{class:'media'}
  
  %div{class:"media-body"}

%table{class:"table table-hover"}
  %tr
    %th Id
    %th Room Number
    %th Building
    %th


  - @rooms.each do |room|
    %tr
      %td= room.id
      %td= room.number
      %td= room.build
      %td= link_to 'Show', room
     

%br


